---
import Button from '@/components/ui/Button.astro'
import heroImage from '@/assets/images/woman-programming-3597101.jpg'
import heroLogosDesktop from '@/assets/images/home/logos/hero-logos-desktop.png'
import heroLogosMobile from '@/assets/images/home/logos/hero-logos-mobile.png'
---

<section
  class='home-hero'
  aria-labelledby='home-hero-title'
>
  <div class='home-hero__inner'>
    <h1
      class='home-hero__title'
      id='home-hero-title'
    >
      <span class='home-hero__title-accent'>Boostez</span> Votre carrière avec une formation universitaire
    </h1>
    <p class='home-hero__text'> en développement web et communication numérique 100% en distanciel. </p>
    <p class='home-hero__subtext'> Apprenez auprès d'experts du secteur et améliorez vos compétences. </p>

    <div class='home-hero__actions'>
      <Button href='/formation/'>Découvrez la formation</Button>
      <Button
        href='/licence/'
        variant='outline'
        >Programme</Button
      >
    </div>

    <div
      class='home-hero__logos'
      aria-label='Logos de partenaires et outils'
    >
      <img
        class='home-hero__logos-image home-hero__logos-image--desktop'
        src={heroLogosDesktop.src}
        width='2580'
        height='270'
        alt='Zapier, Spotify, Zoom, Amazon, Adobe, Notion et Netflix'
      />
      <img
        class='home-hero__logos-image home-hero__logos-image--mobile'
        src={heroLogosMobile.src}
        width='1130'
        height='450'
        alt='Zapier, Spotify et Zoom'
      />
    </div>

    <div
      class='home-hero__visual'
      aria-hidden='true'
    >
      <img
        class='home-hero__image'
        src={heroImage.src}
        width='1280'
        height='429'
        alt=''
      />
      <button
        class='home-hero__play'
        type='button'
        tabindex='-1'
        aria-label='Lire la présentation'
      >
        <span class='home-hero__play-icon'></span>
      </button>
    </div>
  </div>
</section>
