---
interface Props {
  label?: string;
  controls?: string;
  class?: string;
}

const {label = "Ouvrir le menu", controls, class: className} = Astro.props;

---
<button
  class:list={["burger", className]}
  aria-label={label}
  aria-expanded="false"
  aria-controls={controls}
  >
  <span class="burger__bar"></span>
  <span class="burger__bar"></span>
  <span class="burger__bar"></span>
</button>