---

import Button from "@/components/Button.astro";
interface CardProps {
  title: string;
  description: string;
  imageSrc: string;
  imageAlt: string;
  buttonText: string;
  buttonLink: string;
}

---

<section>
  <div>
    <h2></h2>
    <p></p>
  </div>
  <figure>
    <img>
    <figcaption>
      <h3></h3>
      <p></p>
      <Button/>
    </figcaption>
  </figure>
</section>