---

---

<footer>
  <div class="footer__container">
    <div class="footer__items">
      <div class="footer__item">
        <p class="footer__text">support@lpdwca.fr</p>
        <p class="footer__text">+ 33 00 00 00 00</p>
        <p class="footer__text">Strasbourg - 67100</p>
      </div>
      <div class="footer__item">
        <p class="footer__title">Accueil</p>
        <a href="#" class="footer__link">Avantages</a>
        <a href="#" class="footer__link">Nos formations</a>
        <a href="#" class="footer__link">Témoignages alumni</a>
        <a href="#" class="footer__link">Notre FAQ</a>
      </div>
      <div class="footer__item">
        <p class="footer__title">A propos de nous</p>
        <a href="#" class="footer__link">INSPE de Strasbourg</a>
        <a href="#" class="footer__link">Diplôme obtenu</a>
        <a href="#" class="footer__link">Volume horaire</a>
      </div>
      <div class="footer__item">
        <p class="footer__title">Réseaux sociaux</p>
        <a href="#" class="footer__link">Facebook</a>
        <a href="#" class="footer__link">Twitter</a>
        <a href="#" class="footer__link">LinkedIn</a>
      </div>
    </div>
    <p class="footer__copyright">2026 LPDWCA. Tous droits réservés</p>
  </div>
</footer>
<style>
  .footer__container {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin: 2rem 2rem 0 2rem;
    > .footer__copyright {
      margin: 2rem 0;
      text-align: center;
    }
    > .footer__items {
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      gap: 1rem;

      > .footer__item {
        &:nth-child(2) {
          grid-column: 3;
        }
      }
    }
  }
</style>
