---
import NavBar from "./NavBar.astro"
import TopBanner from "./TopBanner.astro"
---


<header>
  <TopBanner />
  <NavBar />
  <div>
    <h1></h1>
  </div>
  <div>
    <p></p>
    <p></p>
  </div>
</header>
