---

---

<nav>
  <h1>LP DWCA</h1>
  <ul>
    <li>
      <a href="/">Page d'accueil</a>
    </li>
    <li>
      <a href="/about">A propos</a>
    </li>
  </ul>
</nav>
<style>
  nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    > ul {
      display: flex;
      gap: 1rem;
    }
  }
</style>
