---
import Button from "./Button.astro";
---

<nav class="nav">
  <div class="nav__container">
    <ul class="nav__list">
      <li class="nav__item">
        <a class="nav__link" href="/">Accueil</a>
      </li>
      <li class="nav__item">
        <a class="nav__link" href="/licence/">Licence</a>
      </li>
      <li class="nav__item">
        <a class="nav__link" href="/formation/">Formation</a>
      </li>
      <li class="nav__item">
        <a class="nav__link" href="/financement/">Tarifs</a>
      </li>
      <li class="nav__item">
        <a class="nav__link" href="/contact/">Contact</a>
      </li>
    </ul>
  </div>
  <Button>Candidature</Button>
</nav>
<style>
  .nav {
    margin-top: 0.5rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 10rem;
  }
  .nav__item {
    padding: 0.75rem 1rem;
    &:hover {
      background-color: var(--color-bg-base-hover);
      border-radius: var(--radius-md);
    }
  }
  .nav__list {
    display: flex;
    gap: 1rem;
  }
</style>
