---

---

<ul class="nav__list">
  <li class="nav__item">
    <a class="nav__link" href="/">Accueil</a>
  </li>
  <li class="nav__item">
    <a class="nav__link" href="/licence.astro/">Licence</a>
  </li>
  <li class="nav__item">
    <a class="nav__link" href="/formation.astro/">Formation</a>
  </li>
  <li class="nav__item">
    <a class="nav__link" href="/tarifs.astro/">Tarifs</a>
  </li>
  <li class="nav__item">
    <a class="nav__link" href="/contact.astro/">Contact</a>
  </li>
</ul>
