---

---

<ul class="nav__list">
  <li class="nav__item">
    <a class="nav__link" href="/">Accueil</a>
  </li>
  <li class="nav__item">
    <a class="nav__link" href="/licence/">Licence</a>
  </li>
  <li class="nav__item">
    <a class="nav__link" href="/formation/">Formation</a>
  </li>
  <li class="nav__item">
    <a class="nav__link" href="/financement/">Tarifs</a>
  </li>
  <li class="nav__item">
    <a class="nav__link" href="/contact/">Contact</a>
  </li>
</ul>




