---
/*
  PictureSteps — galerie de photos illustrant un cours (page Licence)
  Props :
    - images : tableau d'objets { src, alt }
  TODO : alimenter via Strapi (populate images via relation)
*/

interface Image {
  src: string;
  alt: string;
}

interface Props {
  images?: Image[];
}

const { images = [] } = Astro.props;
---

<div class="picture-steps">
  {
    images.map((img) => (
      <img
        class="picture-steps__img"
        src={img.src}
        alt={img.alt}
        width="400"
        height="300"
        loading="lazy"
      />
    ))
  }
</div>
