---
import PageHeader from './PagerHeader.astro';
interface Props {
  id?: string;
  title: string;
  intro?: string;
  actionLabel?: string;
  actionHref?: string;
}
const { id, title, intro, actionLabel, actionHref } = Astro.props;
---

<section class="section" id={id}>
  <PageHeader  />

  <div class="section__content">
    <slot />
  </div>
</section>
