---
import Button from "@/components/Button.astro";
---

<section>
  <figure>
    <figcaption></figcaption>
    <div>
      <p>le prénom de l'alumni</p>
    </div>
    <img />
    <Button>Lire l'article complet</Button>
  </figure>
</section>
