---
import rightArrowIcon from "@/assets/svg/right-arrow.svg";

interface Props {
  title: string;
}
const { title } = Astro.props;
---

<div
  class="site-header__banner banner"
  role="region"
  aria-label="Bannière d'information"
>
  <p class="banner__text">{title}</p>
  <img
    class="banner__icon"
    src={rightArrowIcon.src}
    width="24"
    height="24"
    alt=""
    aria-hidden="true"
  />
</div>
