---
interface Props {
  title: string;
  href: string;
}
const { title, href } = Astro.props;
---

<div class="site-header__banner">
  <div class="banner">
    <p class="banner__text">{title}</p>
    <a href={href} aria-label="Plus d'infos">
      <span class="material-icons banner__icon">arrow_forward</span>
    </a>
  </div>
</div>
