---
interface Props {
  title: string;
  description: string;
  href: string;
  }
const { title, description, href } = Astro.props;
---
<div>
  <p>{title}</p>
  <span>{description}</span>
  <a href={href} aria-label={title}>
    <span class="material-icons">arrow_forward</span>
  </a>
</div>